#                             BASED ALASKA CONFIG
#
# For Figure 1 of Ambient Noise Adjoint Tomography of Northern Alaska
# Bryant Chow and Carl Tape - BSSA 2023
#
# ============================================================================== 
# FLAGS - Turn various components on and off
# ------------------------------------------------------------------------------
# moment_tensors (bool): plot moment tensors from file 
# ============================================================================== 
FLAGS:
    save_figure: True
    show_figure: False
    moment_tensors: False
    colorbar: True
    earthquakes: False
    roads: True
    faults: True
    stations: True
    map_inset: True
    outline_region: False
    landmarks: True
    scale_bar: True
    earth_relief: True

# ============================================================================== 
# BASEMAP - Define the region, projection, and other 'scaffolding' attributes
# ------------------
# region (list): corner lat/lon values to define your region of interest
# frame (list of str): strings to be passed to the outline frame defining the
#   border of the base map
# projection (str): preferred GMT projection and required inputs
# map_scale (str): if scale bar requested (see flags), location and size of
#   the plotted bar
# ============================================================================== 
BASEMAP:
    region: 
        - -168.
        - -140.
        - 64.5
        - 72.
    frame:
        - WSnE
        - xa
        - ya
    borders: "a/1.5p,black"
    projection: "L-155/68/67/69/12c"
    resolution: "h"
    map_scale: "g-144/71.5+w200"
    earth_relief: 
        resolution: "01m"  # "15s"
        cmap: "geo"
    area_thresh: 10000
    kwargs: {}

# ============================================================================== 
# INSET - Define a base map for a map inset
# ------------------
# kwargs: a list of open-ended keyword arguments that can be passed to the 
#   coast plotting script for the inset map. These can be used to e.g., 
#   overwrite colors that will be taken from BASEMAP
# ============================================================================== 
INSET:
    position: "n.0275/.75+w5c/4c"  # n(left/right)/(up/down)+w
    projection: "G-150/70/3c"  # orthographic, centered at 150, 70
    margin: 1p
    resolution: "i"
    area_thresh: 500
    shorelines: "1/0.5,black"
    colors: 
        land: gray
        water: lightcyan1
    frame: "g"
    region: "g"
    outline_region: 
        - -168.  # lat min
        - -140.  # lat max
        - 64.5   # lon min
        - 72.0   # lon max
    outline_style: "r+s"
    kwargs: {}


# ==============================================================================
# SHAPEFILES
# ------------------------------------------------------------------------------
# ==============================================================================
FAULTS:
    pen: "0.25p,black"
ROADS:
    pen: "0.75p,black"

# ============================================================================== 
# FILES - Locations of files containing map information, e.g., faults, stations
#   note: If no file location given values may also be taken directly from a 
#   config file. E.g., landmark locations can be specified as a list
# ------------------------------------------------------------------------------
# ============================================================================== 
FILES:
    fid_out: "nalaska_map.png"
    output: "./"
    moment_tensors:
        - ""
    earthquakes: ""
    stations: "./STATIONS_PLOT"
    landmarks: ""
    faults: 
      - "/Users/chow/Work/data/mapping/nalaska_faults/mp141-quat/mp141-nak_conv.shp"
      - "/Users/chow/Work/data/mapping/nalaska_faults/mp150-prequat-pflaker1994/mp150-pflaker-1994-nak_conv.shp"
    roads:
      - "/Users/chow/Work/data/mapping/ak_dot_roads/northern_alaska/dalton/dalton.shp"

# ============================================================================== 
# FORMATS - Formats of input files to let based Alaska know how to read them
# ------------------------------------------------------------------------------
# moment_tensors (list or str):
#   GCMT - lon lat depth mrr mtt mpp mrt mrp mtp iexp name
# stations (str): 
#   SPECFEM - sta net lon lat depth elevation
# ============================================================================== 
FORMATS:
    moment_tensors:
        - "QUAKEML"
    earthquakes: "QUAKEML"
    stations: "SPECFEM"
    landmarks: ""

# ============================================================================== 
# COLORS - Set colors of various objects within the plot. 
# -----
# ============================================================================== 
COLORS:
    coast: black
    land: gray
    water: white
    lakes: gray
    background_transparent: False
    inset_land: gray
    inset_water: white

# ============================================================================== 
# PENS - Set pen attributes for various objects within the plot. Pens and colors
# may overlap in certain places, or be contained within other headers. These 
# pens are for attributes that don't fit under another header.
#
# NOTE: Pen attributes are defined as: width, color, texture
#   - width can be c (cm), i (inch), p (points), m (meters)
#   - color is a named GMT color
#   - texture is the line attribute, e.g. . (dotted), - (dashed)
#
# -----
# scalebar (float): thickness of scalebar pen, will be used to temporarily set
#   MAP_TICK_PEN_PRIMARY in GMT config
# ============================================================================== 
PENS:
    moment_tensors: "1p,black" 
    scalebar: 1.5
    shorelines:
        - "1p,black,"
        - "1p,black,"
    outline: "1.p,red"

# ============================================================================== 
# MOMENT TENSORS - Control the look of moment tensors or focal mechanisms
#   At the moment, moment tensor plotting follows GCMT file formats
# ------------------------------------------------------------------------------
# color_by (str): determine how to color the moment tensors
#   available: 'depth', 'magnitude'
# scale (str): standard relative size of the moment tensors on the figure
# convention (str): 'mt' for full moment tensor, 'dc' for closest double couple
# colorbar (dict): list of options to control the look and position of colorbar
# kwargs (dict): pa ssed to PyGMT.figure.psmeca()
# ============================================================================== 
MOMENT_TENSORS:
    scale: .35c
    convention: mt
    kwargs: {}
        #"verbose": "d"}

# ============================================================================== 
# EARTHQUAKES - General plotting characteristics for earthquakes, for 
#   parameters controlling moment tensors, see MOMENT_TENSORS. Parameters here
#   may also control some of the look of the moment tensors
# ------------------------------------------------------------------------------
# ============================================================================== 
EARTHQUAKES:
    color_by: depth
    plot_kwargs: {"style": "c0.1c", "pen": "1p,black"}

# ============================================================================== 
# COLORBAR/COLORMAP - Controls the colorbar and underlying colormap which is 
#   used to define color on values. Applied to MOMENT_TENSORS and EARTHQUAKES
# ------------------------------------------------------------------------------
# cmap (str): GMT colormap to use when plotting beachballs
# cmap_min (float): minimum value for the colormap, if None, defaults to min of 
#   of the given list
# cmap_max (float): maximum value for the colormap, same as cmap_min
#   NOTE: cmap_min and cmap_max are important if there are multiple moment 
#   tensor files, otherwise they will create their own colormaps that won't 
#   line up and you may get incorrect color values
# cmap_discretization (float): separation value for the colormap
# ============================================================================== 
COLORMAP:
    cmap: seis
    cmap_min: 0
    cmap_max: 40
    cmap_discretization: 5
    colorbar: 
        position: "n.95/.825+w-2c/.45c"
        frame: 'af+l"depth [km]"'

# ============================================================================== 
# STATIONS - Control the look of stations plotted 
# ------------------------------------------------------------------------------
# color_by (str): if a named GMT color, all stations plotted as single color
#   if 'network', each network plotted different color
# network_color (dict): if color_by=='network', define what color is assigned
#   to what network. If a network is not named, it will be plotted with the 
#   plot_kwargs['color'] value
#
# ============================================================================== 
STATIONS:
    color_by: "network"
    network_colors: {"RCV": "red", "BOTH": "white"}
    plot_kwargs: {"style": "i0.3c", "fill": "gray", "pen": "1p,black"}

# ============================================================================== 
# MARKERS - Control plotting look for lists of values such as cities, landmarks
#   plate labels etc.
#
#   NOTE: '=' in the font specification outlines the text (text first), while
#         '=~' in the font specification draws the outline first
# ============================================================================== 
CITIES:
    plot_kwargs: {"style": "c0.2c", "fill": "yellow", "pen": "1p,black"}
    text_kwargs: {"font": "8p,black=~1p,white"}
LANDMARKS:
    text_kwargs: {"font": "10p,white=~1.5p,black"}
STRUCTURES:
    text_kwargs: { "font": "9p,black" }

# ============================================================================== 
# LISTS - Coordinate lists that can be directly placed in the config file to 
#   reduce the overall number of files required to plot. These constitute,
#   e.g., cities, landmarks, plate labels etc.
#
# NOTE: -Xh+2c moves horizontal 2cm up, -Xw/2 moves origin half width to right
# -----
# CITIES: name (str): marker_lon, marker_lat, text_lon, text_lat
#
# NOTE: If text_lon or text_lat not given, they will be copied from marker_???
# ============================================================================== 
LISTS:
    CITIES:
        Utqiagvik: -156.7886, 71.2906, -155., 71.4
        Nome: -165.4064, 64.5011, -165., 64.8
        Kotzebue: -162.5967, 66.8983, -164.,
        Prudhoe Bay: -148.4012, 70.2268, -147., 70.5
        Kaktovik: -143.6239, 70.1319, -142., 70.2
        Fairbanks: -147.7164, 64.8378, -146., 65.1
        Huslia: -156.3997, 65.6986, -156., 66.
    LANDMARKS:
        North Slope: -158., 69.75
        Brooks Range: -151., 67.8
    STRUCTURES:
        CB: -158., 70.5
        YB: -147., 66.3
        NB: -149.5, 64.75

    


